* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 60px;
}
/* Header Section  */
header {
  background-color: #a6d1e6;
  padding: 30px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  z-index: 99999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
}
header a {
  text-decoration: none;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 50px;
  font-weight: lighter;
  font-size: 30px;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
/* End of Header Section  */

/* Hero Banner Section  */
.hero {
  height: 425px;
  background-image: url(../images/long-journey-f2-1600x900.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-text {
  position: absolute;
  top: 35%;
  left: 3%;
}
/* End of Hero Banner Section  */

/* About Me Section  */
.about {
  background-color: #d06873;
}
.about-me-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 10px auto;
}
.about-me-img {
  flex: 1 20%;
}
.about-me-img img {
  max-width: 100%;
}
.about-me-text {
  flex: 1 80%;
  /* margin: 20px; */
}
.about-me-text p {
  text-align: left;
  padding-left: 25px;
}
/* End of About Me Section  */
.projects {
  height: 200px;
  background-color: #FBC7BA;
}
.contact {
  height: 200px;
}

/* Footer Section  */
footer {
  background-color: #3d3c42;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer p {
  line-height: 1.5;
  text-align: right;
}
.socials {
  display: flex;
  justify-content: center;
}
.socials i {
  padding: 0 10px;
}
.socials a {
  text-decoration: none;
  color: inherit;
}
/* End of Footer Section */

/* Utility CSS Styling  */
.flex-row {
  display: flex;
}
.section-title {
  width: 50%;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  border-bottom: 3px solid;
}
